version: '3'
services:

  mypig-eureka-server:
    image: forsrc/mypig-eureka-server:latest
    container_name: mypig-eureka-server
    hostname: mypig-eureka-server
    # depends_on:
    ports:
    - 11100:11100
    # environment:

  mypig-admin-server:
    image: forsrc/mypig-admin-server:latest
    container_name: mypig-admin-server
    hostname: mypig-admin-server
    ports:
    - 13000:13000
    # environment:

  redis:
    image: redis:3.2
    container_name: mypig-redis
    hostname: mypig-redis
    #volumes:
    #- /tmp/redis/data:/data
    ports:
    - "6379:6379"

  nginx:
    image: nginx
    container_name: mypig-nginx
    hostname: mypig-sso-server-nginx
    volumes:
    - "./docker/nginx/conf/nginx.conf:/etc/nginx/nginx.conf"
    - "./docker/nginx/conf/forsrc.pem:/etc/nginx/forsrc.pem"
    - "./docker/nginx/conf/forsrc.crt:/etc/nginx/forsrc.crt"
    ports:
    - "443:443"

networks:
  forsrc.mypig:
    driver: bridge
