
.users-page {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 20px;
  overflow: auto;
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

//td, th {
//  width: 10%;
//}

.highlight{
  background: rgba(0, 0, 0, 0.12);
}



